<html>
	<head>
	 <title>index</title>
	 <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
	 <style>
		body{
			margin: 10px;
		}
		.block{
			text-align: center;
		}
		#instruction{
			text-align: left;
			margin-left: 20px;
		}
		#logo{
			width: 200px;
		}
	 </style>
	</head>
	<body>
		<nav class="navbar navbar-default">
		    <div class="container-fluid">
		      <div class="navbar-header">
		        <a class="navbar-brand" href="#">Plant Management System</a>
		      </div>
		      <ul class="nav navbar-nav">
		        <li class="active"><a href="#">Home</a></li>
		        <li><a href="/new">Create New Plants</a></li>
		        <li><a href="/all">Display All Plants</a></li> 
		        <li><a href="/getArchived">Archived Plants</a></li>
		        <li><a href="/showSnapshot">Snapshot</a></li>
		      </ul>
		    </div>
		</nav>
		<div class = "block">
			<h3>Welcome to Plant Management System</h3>
			<img id = "logo" src="/img/logo.png" alt="Taylor Family Foundation">
			<div id = "instruction">
				<h4>Instructions</h4>
				<ol>
					<li><p>Install git bash https://git-scm.com/downloads</p></li>
					<li><p>Install node.js from https://nodejs.org/en/ using the Recommended build.</p></li>
					<li><p>Using the git bash terminal, install npm after node is installed. https://docs.npmjs.com/getting-started/installing-node</p></li>
					<li><p>Check to see if node and npm are installed by opening git bash and typing 'node -v' and 'npm -v'. You should see a version number, and not 'command not found'.</p></li>
					<li><p>Download and unzip this repo.
				Navigate to webApp2 within the TTFFCamp folder, and run 'npm install'.</p></li>
					<li><p>Once npm install finishes, run 'node server.js' to start the server, and leave the terminal window open.</p></li>
				</ol>
				
				
				
				
				
				
			</div>
		</div>
	 
	</body>
</html