<html>
	<head>
	 <title>new</title>
	 <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
	</head>
	<body>
		<nav class="navbar navbar-default">
		    <div class="container-fluid">
		      <div class="navbar-header">
		        <a class="navbar-brand" href="#">Plant Management System</a>
		      </div>
		      <ul class="nav navbar-nav">
		        <li><a href="/">Home</a></li>
		        <li class="active"><a href="#">Create new Plants</a></li>
		        <li><a href="/all">Display All Plants</a></li> 
		        <li><a href="#">Print Label</a></li> 
		      </ul>
		    </div>
		</nav>
	 <h3>Create entry for new plants</h3>
	 <form action='/plants' method='post'>
		Plant Name: <input type='text' name='name'>
		Description: <input type='text' name='description'>
		Location: <input type='text' name='location'>
		Detailed Info: <input type="textarea" name = 'info'>
	  <input type='submit' value='Submit'>
	 </form>
	 
	</body>
</html